name: CD - Production

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  generate-timestamp:
    runs-on: ubuntu-latest
    outputs:
      timestamp: ${{ steps.timestamp.outputs.timestamp }}
    steps:
      - name: Generate timestamp
        id: timestamp
        run: echo "timestamp=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT

  build-image:
    needs: [generate-timestamp]
    name: Build image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          [
            { dir: "./backend", name: "runner" },
            { dir: "./frontend", name: "frontend" },
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.target.dir }}
          push: true
          tags: ghcr.io/skkuding/${{ matrix.target.name }}:${{ needs.generate-timestamp.outputs.timestamp }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    name: Deploy
    runs-on: self-hosted
    needs: [generate-timestamp, build-image]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy Frontend
        run: |
          eval $(minikube docker-env -u)
          docker rm -f iris-runner-frontend || true
          docker pull ghcr.io/skkuding/frontend:${{ needs.generate-timestamp.outputs.timestamp }}
          docker run -d \
            --name iris-runner-frontend \
            -p 3000:3000 \
            ghcr.io/skkuding/frontend:${{ needs.generate-timestamp.outputs.timestamp }}

      - name: Verify Minikube status
        run: |
          status_output=$(minikube status)
          if ! echo "$status_output" | grep -q "host: Running" || \
            ! echo "$status_output" | grep -q "kubelet: Running" || \
            ! echo "$status_output" | grep -q "apiserver: Running"; then
            echo "Minikube is not fully operational"
            echo "Current status:"
            echo "$status_output"
            exit 1
          fi

      - name: Pull images in Minikube Cluster
        run: |
          eval $(minikube docker-env)
          docker pull ghcr.io/skkuding/runner:${{ needs.generate-timestamp.outputs.timestamp }}

      - name: Deploy Runner
        run: |
          sed -i "s/\$TIMESTAMP/${{ needs.generate-timestamp.outputs.timestamp }}/g" k8s/runner-deployment.yml
          kubectl apply -f k8s/runner-deployment.yml

      - name: Configure Ingress
        run: kubectl apply -f k8s/ingress.yml

      - name: Configure cert-manager
        run: |
          kubectl apply -k k8s/internal/
